.HostGame {
  padding-top: 1rem;
  text-align: center;
  h2 {
    padding: 1rem;
  }
  .GameCode {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
    cursor: pointer;
    @media only screen and (min-width: 800px) {
      margin-left: auto!important;
      margin-right: auto!important;
      width: 30%;
    }
  }
  .JoinedPlayers {
    width: 50%;
    margin: auto;
    ul {
      text-align: center;
    }
  }
  .GameListContainer {
    padding: 1rem 1rem 1rem calc(1rem + 16px);
    .GameList {
      .GameItem {
        cursor: pointer;
        padding: 1rem;
        margin: 1rem;
        border: 1px solid black;
      }
    }
  }
}
